[Unit]
Description=Start Node server

[Service]
User=ec2-user
Group=ec2-user
ExecStart=/usr/bin/node /home/ec2-user/nodejs/rest-api/index.js

[Install]
WantedBy=multi-user.target
